<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="login-container">
        <h2>Login</h2>
        <form class="login-form" autocomplete="off" method="POST" action="/home/">
            {% csrf_token %}
            <input type="text" placeholder="Username" name="name">
            <input type="password" placeholder="Password" name="password">
            <input type="submit" class="submit" style="margin-top:20px; font-size: 17px;" value="Login">
            <p style="margin:0px; text-align: center;">or</p>
            <a type="button" style="text-align: center; text-decoration:none" class="submit" href="{% url 'signup' %}">Sign Up</a>
        </form>
    </div>
</body>

</html>

<!-- 
<!DOCTYPE html>
<html>

<head>
    <title>Registration Form</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>

<body>
    <div class="container col-4">
        <h2>Registration Form</h2>
        <form action="/success/" method="POST" autocomplete="off">
            
            <label for="username">Name:</label>
            <input type="text" id="username" name="name" required>
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" required>
            <label for="address">Address:</label>
            <input type="text" id="address" name="address" required>
            <label for="mobile">Mobile:</label>
            <input type="mobile" id="mobile" name="mobile" required>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html> -->